[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
beautifulsoup4 = "*"
python-dotenv = "*"
py-cord = "*"
asyncio = "*"
newspaper4k = "*"
sentry-sdk = "*"

[dev-packages]
pytest = "*"
pytest-asyncio = "*"
pytest-mock = "*"
pytest-cov = "*"

[requires]
python_version = "3.12"
